/* *{
   border: 1px solid black;
} */

div{
  color:#094067;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 64px;
  background-color:#fffffe;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 630px;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #5f6c7b;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  background-color: #3da9fc;
  color:#fffffe;
}

.message{
  width: 59%;
}